.main_title {
  font-size: 2rem;
  text-align: center;
  color: var(--main-title-color);
  padding: 2rem;

  @include md {
    font-size: 4rem;
    padding: 4rem;
  }

  @include lg {
    padding: 6rem;
  }

}